/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  img{
    width: 100%;
  }
  iframe{
    width: 100%;
    aspect-ratio: 1.75;
  }
  body{
    background-color: #f6f5f3;
   
  }
  body *{
    padding: 5px 0;
  }
  
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }
  .comun-list{
    list-style: none;
    padding: none;
    margin: none;
  }

  /* header */

  header{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

 /* recipe */

 .categori{
  color: grey;
 }
 .recipe-title h2{
  color: #4e3969;
 }

 .recipe{
  display: flex;
  flex-direction: column;
  box-shadow: 10px 0 10px 1px grey;
  background-color: white;
  padding-top: 0;
 }

 .recipe-list{
  padding: 0 10px;
 }

 .recipe-ingredients{
  background-color: white;
 }

 /* social */

 .links-social{
  display: flex;
  justify-content: space-around; 
  margin: 10px 0;
 }
 .social{
  text-decoration: none;
  color: black;
  background-color: white;
  width: 40px;
  padding: 7px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 3px 0 5px 1px grey;

 }

 .fa-facebook{
  color: #1774f3;
 }

 .fa-twitter{
  color:#009eff ;
 }
 .fa-instagram{
  color: #df79bc ;
 }
 .fa-pinterest{
  color: #e51618;
 }
 .fa-youtube{
  color: #e62222;
 }